<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" packages="com.thomaswilde.matdb">
  <!-- Define custom levels before using them for filtering below. -->
  <CustomLevels>
    <CustomLevel name="DIAG" intLevel="350" />
    <CustomLevel name="NOTICE" intLevel="450" />
    <CustomLevel name="VERBOSE" intLevel="650" />
  </CustomLevels>
 
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-7level %-60logger{36} Line %-5L %-20M - %msg%n"/>
    </Console>
    <File name="MyFile" fileName="logs/app.log" append="false">
      <PatternLayout pattern="%d %-7level %-60logger{36} Line %-5L %-20M - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <!-- Only events at DIAG level or more specific are sent to the console. -->
      <AppenderRef ref="Console" level="verbose" />
      <AppenderRef ref="MyFile" level="trace" />
    </Root>
  </Loggers>
</Configuration>
<!-- Severity Levels
OFF     0
FATAL   100
ERROR   200
WARN    300
INFO    400
DEBUG   500
TRACE   600 
-->